.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  &__title {
    font-size: rem(32);
    padding-bottom: rem(20);
  }
  &__note {
    font-size: rem(20);
    color: $greyColor;
  }
}
